@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?8bkwtn');
	src:url('../fonts/icomoon.eot?#iefix8bkwtn') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?8bkwtn') format('truetype'),
		url('../fonts/icomoon.woff?8bkwtn') format('woff'),
		url('../fonts/icomoon.svg?8bkwtn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-rh_add:before {
	content: "\e600";
}
.icon-rh_addtocart:before {
	content: "\e601";
}
.icon-rh_bing .path1:before {
	content: "\e602";
	color: rgb(253, 184, 19);
}
.icon-rh_bing .path2:before {
	content: "\e603";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-rh_budget:before {
	content: "\e604";
}
.icon-rh_cart:before {
	content: "\e605";
}
.icon-rh_cartcontent:before {
	content: "\e606";
}
.icon-rh_close:before {
	content: "\e607";
}
.icon-rh_google .path1:before {
	content: "\e608";
	color: rgb(86, 125, 191);
}
.icon-rh_google .path2:before {
	content: "\e609";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.icon-rh_location:before {
	content: "\e60a";
}
.icon-rh_open:before {
	content: "\e60b";
}
.icon-rh_settings:before {
	content: "\e60c";
}
.icon-rh_yahoo .path1:before {
	content: "\e60d";
	color: rgb(71, 45, 138);
}
.icon-rh_yahoo .path2:before {
	content: "\e60e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
